// Color Map
$rp-color-key: 'base' !default;

$rp-colors: (
	'primary': ( // greys
        'base': #6A6A6A,
		'dark': #29393d,
		'darker': #7C898F,
	),
	'blue': ( // blues
		'base': #3D8CB9,
        'alt': #1C5D7A,
        'alice-blue': #E9F3F8,
   ),
   'green': ( // greens
        'base': #7CB342,
        'grotesque': #7CB342,
        'grotesque-light': #D8EDC2,
   ),
   
   'yellow': ( // yellows
        'base': #FDB53B,
        'fuel-yellow': #FDB53B,
        'fuel-yellow-light': #F2E4CE,
   ),
    
   'purple': ( // purples
		'base': #B7006A,
		'light': #E4BAD2
   ),
   
   'red': ( // reds
		'base': #DE4848,
        'flush-mahogany': #E9B4B4,
   ),
   
   'white': ( // whites
        'base': #ffffff,
        'wild-sand': #F3F3F3,
        'alabaster': #FAFAFA
   ),
    
   'black': ( // blacks
   		'base': #000000
   )
);

$rp-opacity: (
  '10': 0.1,
  '20': 0.2,
  '30': 0.3,
  '40': 0.4,
  '50': 0.5,
  '60': 0.6,
  '70': 0.7, 
  '80': 0.8  
);

@function rp-color(
  $name: 'primary',
  $variant: $rp-color-key,
  $opacity: 1
) {
  $color: null;
  
  // Get the color spectrum
  $color-spectrum: map-get($rp-colors, $name);
  
  // Get the color variant
  @if $color-spectrum {
    $color: map-get($color-spectrum, $variant);
  }
  
  // Get the alpha setting
  $alpha: if(type-of($opacity) == 'number', $opacity, map-get($rp-opacity, $opacity));
  
  // Set the alpha of the color
  @if $alpha {
    $color: rgba($color, $alpha);
  }
  
  @return $color;
}