#main {
	@include outer-container;
	background-color: lightblue;
}

section {
	@include outer-container;
	text-align: center;
	margin-bottom: 1em;
	
	&#top-row {
		@include span-columns(12);
		
		#content-1 {
			@include span-columns(4 of 12); // For nested selectors, pass the number of parent columns as well
			@include pad();
			background-color: lightgrey;
		}
		#content-2 {
			@include span-columns(8 of 12);
			@include pad();
			background-color: grey;
            // background-color: rp-color('primary'); // Base color
		}
		
		#content-1, #content-2 {
			@media screen and (max-width: 768px) {
				@include span-columns(12 of 12);
			}
		}
	}
	
	&#middle-row {
		@include span-columns(12);
		
		#content-1 {
			@include span-columns(6 of 12);
			@include pad();
			background-color: lightpink;
		}
		#content-2 {
			@include span-columns(6 of 12);
			@include pad();
			background-color: hotpink; 
            // background-color: rp-color('purple'); // Base color
            // background-color: rp-color('purple', 'base'); // Nested color
            // background-color: rp-color('purple', $opacity: '50'); // Base color with opacity
		}
		
		#content-1, #content-2 {
			@media screen and (max-width: 768px) {
				@include span-columns(12 of 12);
			}
		}
	}
	
	&#bottom-row {
		@include span-columns(12);
		
		#content-1 {
			@include span-columns(8 of 12);
			@include pad();
			background-color: lightgreen;
		}
		#content-2 {
			@include span-columns(4 of 12);
			@include pad();
			background-color: seagreen;
		}
		
		#content-1, #content-2 {
			@media screen and (max-width: 768px) {
				@include span-columns(12 of 12);
			}
		}
	}
}
